#container {
    margin: 0 auto;
    height: 350px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

#container img {
    position: absolute;
    display: block;
    left: 0;
    border: 1px solid #ccc;
}